@font-face {
    font-family: 'norsebold';
    src: url('images/fonts/webfontkit-20221006-170502/norse-bold-webfont.woff2') format('woff2'),
         url('images/fonts/webfontkit-20221006-170502/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 

.logo-text { 
    font-family: 'norsebold';
    font-size: 19em;
    color: white;   
    position: relative; 
    bottom: 45px; 
    left: 30px;  
} 


.header-containers { 
    background-color: rgb(87, 102, 187);
    display: flex; 
    flex-direction: column;  
    justify-content: flex-start;
    font-size: 45px; 
    font-family: 'norsebold';
} 

.btn-container { 
    background-color: rgb(87, 102, 187);
    display: flex; 
    justify-content: flex-start; 
    font-size: 20px;
    font-family: 'norsebold';
} 

.names-container { 
    display: flex; 
    justify-content: flex-start; 
    gap: 35px; 
    font-size: 22px; 
    font-family: 'norsebold'; 
}


.e-mail-phone-container { 
    display: flex; 
    justify-content: flex-start;
    gap: 35px; 
    font-size: 22px;
    font-family: 'norsebold';
}

.password-container { 
    display: flex; 
    justify-content: flex-start; 
    gap: 35px; 
    font-size: 22px; 
    font-family: 'norsebold';
}
 
/* body { 
    background-image: url(images/space-background.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 30%;

} */ 

/* body { 
    background-image: url(images/space-background.jpg); 
    background-size: 50% 100%; 
    background-position: left; 
    background-repeat: no-repeat;
}  */

.form-headers { 
    display: flex; 
    justify-content: flex-start;
    font-size: 18px; 
    font-family: 'norsebold';
} 


#left-containers { 
    background-image: url(images/mountain-pic-sup.jpg);
    width: 50%; 
    position: absolute; 
    left: 0px; 
    height: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

#right-containers { 
    width: 50%; 
    position: absolute; 
    right: 0px; 
    height: 100%; 
} 

.photo-credit { 
    display: flex; 
    justify-content: center; 
    font-size: 10px; 

} 

.fields-marked-txt { 
    font-family: 'norsebold';
}  

.create-account-btn { 
    font-family: 'norsebold';
    font-size: 25px; 
    background-color: rgb(87, 102, 187);
    color: white; 
    border-radius: 15%; 
}

input { 
    border-color:rgb(87, 102, 187); 
} 

input:focus {  
    border: 5px solid blue; 
    box-shadow: 8px 8px 8px rgb(36, 36, 163); 
    /* background-color: rgb(115, 115, 236) */
    /* background-color: blue; */
}